[Unit]
Description=Jackson-JACK

[Service]
Type=simple
User=lev
Group=audio
IOSchedulingClass=realtime
IOSchedulingPriority=0
WorkingDirectory=/home/lev/jackson
ExecStart=jackd --name JacksonServer -d alsa --device hw:1 --rate 48000 --period 512
Restart=always
RestartSec=5
LimitMEMLOCK=infinity
LimitRTPRIO=99
LimitNOFILE=200000
LimitNPROC=200000

[Install]
WantedBy=multi-user.target
